# Node / Vite 기본 무시 파일
node_modules
dist

# 환경 변수/로컬 설정
.env
.env.*

# 로그 / 캐시
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# 편집기/OS 관련
.DS_Store
Thumbs.db
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json


